<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="smokeTests">
        <classes>

            <class name="baseTest.tests.registrationTest">
            <methods>
<include name="setupTest"/>
                <include name="closedriver"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>